<div class="container" *ngIf="authService.estConnecte()">
  <!--<div class="alert alert-danger" *ngIf="mode==0">
    <strong>You are not authorized to add Task</strong>
  </div>-->
  <div class="row col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Modifier formation</div>
      <div class="panel-body">

        <div *ngIf="productFormGroup">
          <form [formGroup]="productFormGroup" style="margin-top: 20px">
            <div class="form-group" [hidden]="true">
              <label>ID</label>
              <input type="text" class="form-control" formControlName="id">
            </div>
            <div class="form-group">
              <label>Prénom</label>
              <input type="text" class="form-control" formControlName="prenom">
            </div>
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" formControlName="nom">
            </div>
            <div class="form-group">
              <label>Date de naissance</label>
              <input type="text" class="form-control" formControlName="dateNaissance">
            </div>
            <button class="btn btn-success" (click)="onUpdateEtudiant()">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
